// @import url("https://fonts.googleapis.com/css?family=Roboto");
// @import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
// @import url("https://fonts.googleapis.com/css?family=PT+Sans:400,700");
// @import url('https://fonts.googleapis.com/css?family=Gruppo | Roboto:300,400,700,900 | Oswald');
@import url("https://fonts.googleapis.com/css?family=Gruppo");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700,900");
@import url("https://fonts.googleapis.com/css?family=Oswald");
body {
	background-color: white; // margin: 0;
	max-width: 2800px;
	min-width: 300px;
	width: 100%;
	margin: auto;
	overflow-y: scroll;
	overflow-x: hidden;
}

.wrapper {
	// display:
}

.img-portraits {
	width: 475px;
}
